html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #fff;
    padding-top: 10px;
}

.text-overflow {
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
}

.mr-2 {
   margin-right: 2px; 
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}
